{#
 # Pattern Library
 # ---------------
 # A good place to manage site styles and reusable patterns
 #}

{% extends "_layout" %}
{% set title = 'Pattern Library' %}
{% set body_class = 'patterns' %}

{#
 # Include any extra scripts for the Pattern Library here:
 #}
{% block headScripts %}
  {{ parent() }}
  {# Extra scripts go here #}
{% endblock %}

{#
 # Page content:
 #}
{% block content %}

  <h1>Pattern Library</h1>

  <hr />

  <nav>
    <h2>Contents</h2>

    <div>
      <ul>
        <li><a href="/patterns">Introduction</a></li>
        <li><a href="/patterns/typography">Typography</a></li>
        <li><a href="/patterns/forms">Forms</a></li>
        <li><a href="/patterns/buttons">Buttons</a></li>
        <li><a href="/patterns/tables">Tables</a></li>
      </ul>
    </div>
  </nav>

  <hr />

  {% block patterns %}
    <h2>Introduction</h2>
    <p>This pattern library serves several purposes:</p>
    <ul>
      <li>To <strong>document</strong> the patterns in use across the site</li>
      <li>To encourage <strong>reusability</strong> of design elements</li>
      <li>...which in turn leads to better visual <strong>consistency</strong></li>
      <li>To allow easy <strong>testing</strong> of all elements across a range of browsers and screen sizes</li>
    </ul>
  {% endblock %}

{% endblock %}
