body {
  color: $body-color;
  font-family: $base-font-family;
}

a {
  color: $link-color;
}

a:hover,
a:active,
a:focus {
  color: $link-hover-color;
  text-decoration: none;
}

hr {
  border: none;
  border-bottom:  1px solid;
}

img {
  max-width: 100%;
}

abbr {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

del {
  color: lighten($body-color, 15);
}
